@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pangolin&family=Playfair+Display&family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f7ff;
}

nav#navbar {
  width: 100%;
  height: 55px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  line-height: 55px;
  background-color: cornflowerblue;
}

nav#navbar a.brand-logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  padding: 0px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

nav#navbar a.brand-logo span.cod {
  color: orange;
}

nav#navbar a.brand-logo span.acad {
  color: #fff;
}

nav#navbar ul {
  list-style: none;
}

nav#navbar ul li {
  float: left;
}

nav#navbar ul li a {
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 13px;
}

nav#navbar ul li a:hover {
  color: rgba(255, 255, 255, 0.9);
}

nav#navbar ul li ul {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: none;
  top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 0px;
  margin: 0;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  border-radius: 5px;
  background-color: #f7f7f7;
  width: 150px;
}

nav#navbar ul li ul li {
  float: none;
}

nav#navbar ul li ul li a {
  line-height: 0;
  padding: 20px;
  display: block;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms;
  transition: 200ms;
}

nav#navbar ul li ul li a:hover {
  background-color: rgba(0, 0, 0, 0.04);
  color: rgba(0, 0, 0, 0.5);
  font-size: 110%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

nav#navbar ul li ul::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: -6px;
  left: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #f7f7f7;
  z-index: -100;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

nav#navbar ul li:hover ul {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

nav#navbar div.login-register {
  float: right;
  margin-right: 30px;
}

nav#navbar div.login-register a {
  padding: 5px 10px;
  margin-left: 5px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  color: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.6);
}

nav#navbar div.login-register a:nth-child(1) {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  color: #fff;
}

nav#navbar div.login-register a:nth-child(1):hover {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
}

div.container {
  clear: both;
  width: 80%;
  margin: auto;
  padding: 1em;
}

div.container div.add-new-movie {
  position: relative;
  margin: 20px auto;
  min-height: 100vh;
  width: 80%;
}

div.container div.add-new-movie a.back-to-movies {
  text-decoration: none;
  padding: .5em;
  background-color: #068b1a;
  color: #fff;
  margin-top: 20px;
  display: block;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

div.container div.add-new-movie a.back-to-movies:hover {
  background-color: #047a16;
}

div.container div.add-new-movie h1 {
  text-align: center;
  color: teal;
}

div.container div.add-new-movie form {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin: auto;
}

div.container div.add-new-movie form div.error {
  background-color: rgba(255, 0, 0, 0.26);
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.container div.add-new-movie form div.error span {
  padding: 1em;
  display: block;
}

div.container div.add-new-movie form div.success {
  background-color: rgba(0, 255, 0, 0.1);
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 2px solid rgba(53, 94, 53, 0.3);
}

div.container div.add-new-movie form div.success span {
  padding: 1em;
  display: block;
}

div.container div.add-new-movie form div.form-group {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
}

div.container div.add-new-movie form div.form-group input.form-control {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  font-size: 18px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.01);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

div.container div.add-new-movie form div.form-group input.form-control:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

div.container div.add-new-movie form div.form-group .form-control-select {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.01);
  font-size: 18px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

div.container div.add-new-movie form div.form-group .form-control-select:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

div.container div.add-new-movie form div#checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.container div.add-new-movie form div#checkbox input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #fff;
  -webkit-appearance: none;
  margin-left: 10px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  outline: none;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

div.container div.add-new-movie form div#checkbox input[type="checkbox"]::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  border-radius: 50%;
  background-color: #4183fd;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

div.container div.add-new-movie form div#checkbox input:checked[type="checkbox"] {
  background-color: rgba(0, 0, 0, 0.2);
}

div.container div.add-new-movie form div#checkbox input:checked[type="checkbox"]::after {
  left: 20px;
}

div.container div.add-new-movie form input.btn-add-movie {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  padding: .5em 1em;
  font-weight: 600;
  background-color: cornflowerblue;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 3px;
  float: right;
  -webkit-transition: 200ms;
  transition: 200ms;
}

div.container div.add-new-movie form input.btn-add-movie:hover {
  background-color: #4f86ec;
}

div.container div.add-new-movie form::after {
  content: "";
  display: block;
  position: relative;
  clear: both;
}

div.container div.movies {
  width: 100%;
  min-height: 100vh;
}

div.container div.movies h1 {
  text-align: center;
}

div.container div.movies a.create-movie {
  text-decoration: none;
  padding: .5em;
  background-color: #068b1a;
  color: #fff;
  margin-top: 20px;
  display: block;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

div.container div.movies a.create-movie:hover {
  background-color: #047a16;
}

div.container div.movies div.list-movies {
  display: -ms-grid;
  display: grid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

div.container div.movies div.list-movies div.movie {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

div.container div.movies div.list-movies div.movie a.delete-movie-btn {
  position: absolute;
  top: 5;
  right: 5px;
  z-index: 2;
  font-size: 120%;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms;
  transition: 200ms;
  visibility: hidden;
  opacity: 0;
}

div.container div.movies div.list-movies div.movie div.movie-poster {
  width: 100%;
  height: 230px;
}

div.container div.movies div.list-movies div.movie div.movie-poster img {
  width: 100%;
  height: 100%;
  position: relative;
}

div.container div.movies div.list-movies div.movie div.movie-poster:hover::after {
  opacity: .5;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 230px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

div.container div.movies div.list-movies div.movie div.movie-detail {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

div.container div.movies div.list-movies div.movie div.movie-detail div.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.container div.movies div.list-movies div.movie div.movie-detail div.detail strong {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.container div.movies div.list-movies div.movie div.movie-detail div.detail span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.container div.movies div.list-movies div.movie div.cast {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.container div.movies div.list-movies div.movie div.cast strong {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.container div.movies div.list-movies div.movie div.cast div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

div.container div.movies div.list-movies div.movie div.cast div span.casts {
  height: 50px;
  display: block;
  overflow: hidden;
}

div.container div.movies div.list-movies div.movie div.cast div a {
  text-decoration: none;
}

div.container div.movies div.list-movies div.movie:hover a.delete-movie-btn {
  visibility: visible;
  opacity: 1;
}

div.container div.individual-movie-detail {
  width: 50%;
  margin: 20px auto;
}

div.container div.individual-movie-detail h1 {
  padding: .5em 0em;
  color: rgba(0, 0, 0, 0.7);
}

div.container div.individual-movie-detail a.back-to-movies {
  text-decoration: none;
  padding: .5em;
  background-color: #068b1a;
  color: #fff;
  margin-top: 20px;
  display: block;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
}

div.container div.individual-movie-detail a.back-to-movies:hover {
  background-color: #047a16;
}

div.container div.individual-movie-detail div.movie-poster img {
  width: 100%;
}

div.container div.individual-movie-detail div.detail {
  display: block;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

div.container div.individual-movie-detail div.detail div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 9fr;
      grid-template-columns: 3fr 9fr;
  margin: 20px 0px;
}

div.container div.individual-movie-detail div.detail div strong {
  color: rgba(0, 0, 0, 0.8);
}

div.container div.individual-movie-detail div.detail div span {
  color: rgba(0, 0, 0, 0.9);
}

div.container div.individual-movie-detail div.review-form {
  width: 80%;
  margin: 0px auto;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
  border-radius: 5px;
}

div.container div.individual-movie-detail div.review-form h2 {
  text-align: center;
  color: teal;
}

div.container div.individual-movie-detail div.review-form form {
  display: block;
}

div.container div.individual-movie-detail div.review-form form div.form-group {
  margin-bottom: 20px;
}

div.container div.individual-movie-detail div.review-form form div.form-group textarea {
  width: 100%;
  margin-top: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

div.container div.individual-movie-detail div.review-form form div.form-group textarea:focus {
  background-color: rgba(0, 0, 0, 0.03);
}

div.container div.individual-movie-detail div.review-form form div.form-group select {
  font-size: 16px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  width: 100px;
  outline: none;
  padding: .2em;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

div.container div.individual-movie-detail div.review-form form div.form-group label {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 10px;
}

div.container div.individual-movie-detail div.review-form form input[type="submit"] {
  text-decoration: none;
  padding: .7em 1em;
  background-color: #1161f7;
  color: #fff;
  margin-top: 20px;
  display: block;
  border-radius: 3px;
  width: 100%;
  text-align: center;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

div.container div.individual-movie-detail div.review-form form input[type="submit"]:hover {
  background-color: #0851da;
}

div.container-fluid div#showcase {
  background-image: url("../images/svg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}

div.container-fluid div#showcase div.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div.container-fluid div#showcase div.contents div.welcome {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

div.container-fluid div#showcase div.contents div.welcome div.welcome-content {
  max-width: 400px;
}

div.container-fluid div#showcase div.contents div.welcome div.welcome-content h2 {
  padding: .5em 0;
}

div.container-fluid div#showcase div.contents div.welcome div.welcome-content h3 {
  margin: 10px 0px;
  color: rgba(255, 255, 255, 0.9);
}

div.container-fluid div#showcase div.contents div.welcome div.welcome-content p {
  color: rgba(255, 255, 255, 0.74);
}

div.container-fluid div#showcase div.contents div.welcome div.welcome-content a {
  display: block;
  width: 150px;
  padding: .5em 1em;
  background-color: #f7f7f7;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  border-radius: 3px;
}

div.container-fluid div#showcase div.contents div.learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
}

div.container-fluid div#showcase div.contents div.learn-more div.card {
  max-width: 400px;
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  background-color: #f7f7ff;
  margin-top: 40px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

div.container-fluid div#showcase div.contents div.learn-more div.card div.imgBox img {
  width: 100%;
}

div.container-fluid div#showcase div.contents div.learn-more div.card div.body {
  padding: 1em;
}

div.container-fluid div#showcase div.contents div.learn-more div.card div.body p {
  margin: 10px 0px;
}

div.container-fluid div#showcase div.contents div.learn-more div.card div.body a.read-more {
  width: 100px;
  display: block;
  padding: .5em 1em;
  text-decoration: none;
  margin: 10px auto;
  background-color: rgba(12, 87, 247, 0.6);
  color: #fff;
  border-radius: 3px;
}

@media (max-width: 850px) {
  div.container-fluid div#showcase div.contents {
    display: block;
    width: 100%;
  }
  div.container-fluid div#showcase div.contents div.welcome {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 50px;
    padding: 0px 10px;
  }
  div.container-fluid div#showcase div.contents div.welcome div.welcome-content {
    max-width: 100%;
  }
  div.container-fluid div#showcase div.contents div.welcome div.welcome-content h2 {
    padding: .5em 0;
  }
  div.container-fluid div#showcase div.contents div.welcome div.welcome-content h3 {
    margin: 10px 0px;
    color: rgba(0, 0, 0, 0.8);
  }
  div.container-fluid div#showcase div.contents div.welcome div.welcome-content p {
    color: rgba(0, 0, 0, 0.5);
  }
  div.container-fluid div#showcase div.contents div.welcome div.welcome-content a {
    display: block;
    width: 150px;
    padding: .5em 1em;
    background-color: orange;
    text-decoration: none;
    text-align: center;
    color: #fff;
    margin: 20px auto 0px auto;
    border-radius: 3px;
  }
  div.container-fluid div#showcase div.contents div.learn-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1em;
    width: 100%;
  }
  div.container-fluid div#showcase div.contents div.learn-more div.card {
    max-width: 100%;
    -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    background-color: #f7f7ff;
    margin-top: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  div.container-fluid div#showcase div.contents div.learn-more div.card div.imgBox img {
    width: 100%;
  }
  div.container-fluid div#showcase div.contents div.learn-more div.card div.body {
    padding: 1em;
  }
  div.container-fluid div#showcase div.contents div.learn-more div.card div.body p {
    margin: 10px 0px;
  }
  div.container-fluid div#showcase div.contents div.learn-more div.card div.body a.read-more {
    width: 100px;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
    margin: 10px auto;
    background-color: rgba(12, 87, 247, 0.6);
    color: #fff;
    border-radius: 3px;
  }
}

div#courses {
  background-color: #f7f7ff;
  padding: 1em;
}

div#courses h1 {
  text-align: center;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

div#courses div.content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  scroll-behavior: smooth;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

div#courses div.content div.course {
  width: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

div#courses div.content div.course div.logo {
  width: 100%;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

div#courses div.content div.course div.logo span {
  font-size: 3rem;
}

div#courses div.content div.course div.course-body {
  padding: 1em 1em 0em 1em;
}

div#courses div.content div.course div.course-body h3 {
  margin: 10px 0px;
  color: rgba(0, 0, 0, 0.6);
}

div#courses div.content div.course div.course-body p {
  margin-bottom: 10px;
  font-size: 15px;
}

div#courses div.content div.course div.course-body div.rating span {
  color: yellow;
}

div#courses div.content div.course div.course-body div.rating span:last-child {
  color: rgba(0, 0, 0, 0.6);
}

div#courses div.content div.course div.course-body a.learn-more {
  display: block;
  padding: .5em;
  background-color: rgba(12, 87, 247, 0.9);
  margin: 20px 0px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 3px;
}

div#courses div.content div#html div.logo span {
  color: #da4a4a;
}

div#courses div.content div#css div.logo span {
  color: orange;
}

div#courses div.content div#js div.logo span {
  color: yellow;
}

div#courses div.content div#nodejs div.logo span {
  color: green;
}

div#courses div.content div#mongodb div.logo span {
  color: rgba(17, 119, 17, 0.527);
}

div.team {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #3d3d2a;
  width: 100%;
  padding: 1em;
}

div.team div.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.team div.heading h1 {
  color: #fff;
}

div.team div.developers {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url("../images/webDeveloper.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.team div.developers div.developer:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

div.team div.developers div.developer {
  margin: 10px;
  width: 300px;
  height: auto;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 200ms;
  transition: 200ms;
  cursor: auto;
}

div.team div.developers div.developer div.header div.profile-pic img {
  display: block;
  width: 100px;
  height: 100px;
  margin: auto;
}

div.team div.developers div.developer div.header div.profile-name {
  line-height: 1.5em;
  margin: 20px 0px 10px 0px;
}

div.team div.developers div.developer div.header div.profile-name h2 {
  color: teal;
}

div.team div.developers div.developer div.header div.profile-name span {
  color: rgba(0, 0, 0, 0.5);
}

div.team div.developers div.developer div.bio p {
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
}

div.team div.developers div.developer div.social-profiles {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.team div.developers div.developer div.social-profiles a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 10px;
  color: #0c3a91;
  font-size: 2rem;
}

div.footer {
  background-color: rgba(0, 89, 255, 0.123);
  padding: 2em;
}
/*# sourceMappingURL=main.css.map */